#bg-jumbo{
    background : url(https://static.vecteezy.com/system/resources/previews/000/543/867/non_2x/red-honeycomb-abstract-background-wallpaper-and-texture-concept-minimal-theme-vector.jpg) center center / cover no-repeat;
}
#av-img{
    width:50px;
    height:50px;
}
.btn-st{
    border-bottom-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    border-top-left-radius: 0rem;
    border-bottom-right-radius: 0rem;
}
.btn-st1{
    
    border-bottom-right-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 0rem;
    border-bottom-left-radius: 0rem
}