<%- include("partials/header.ejs") %>
<h1>
	Search for a movie
</h1>
<form action="/results" method="GET">
	<input type="text" placeholder="Movie" name="movie">
	<button type="submit">
		Search movie
	</button> 
</form>
<%- include("partials/footer.ejs") %>
