<%- include("partials/header.ejs") %>
<div class="container">
	<div class="row">
		<h1 class="text-center">
			Add a New Actor
		</h1>
		<form id="formadd" action="/actors" method="POST">
			<div class="form-group">
				<input type="text" placeholder="Name" name="name" class="form-control">
			</div>
			<div class="form-group">
				<input type="text" placeholder="Image URL" name="image" class="form-control">
			</div>
			<div class="form-group">
				<input type="text" placeholder="Description" name="desc" class="form-control">
			</div>
			<div class="form-group">
				<button type="submit" id="butform" class="btn btn-success btn-lg btn-block form-control">
					Add
				</button>
			</div>
		</form>
		<a href="/actors">Back</a>
	</div>
</div>
<%- include("partials/footer.ejs") %>